extend layout
block content
  p.
     Home of a young programmer
    a(href ='http://blog.ayoungprogrammer.com') My blog
block sidebar
  .widget
    h1 Users online
    p
      | #{serv.online.length} users