extend layout

block tabContent

  ul
    li <a href='#bio'>Bio </a>
    li <a href='#edu'>Education</a>
    li <a href='#work'>Work</a>
    li <a href='#projects'>Project
    li <a href='#tech'>Technical</a>
    


block content
 
 
 .tabholder#bio
  h2 BIO
  p.
     I am currently a student at the University of Waterloo in the Honours 
     Computer Science program. I have had a strong passion for programming 
     since I attended my first class at 11. Over the past years I have accumulated
     programming experience in a broad range of areas from game development
     to image processing apps to web development. I am self-driven, determined and 
     aspire to one day start my own company. 
  .section-holder
    .section
        h3 Contact Info
        table
           thead
           tbody
             tr
               th Email:
               td michaelyoung1995@gmail.com
             tr
               th Technical Blog:
               td <a href="http://blog.ayoungprogrammer.com">blog.ayoungprogrammer.com</a>
             tr
               th GitHub:
               td <a href="http://github.com/ayoungprogrammer">ayoungprogrammer</a>
 .tabholder#edu
  h2 EDUCATION
  .section-holder
    .section-with-pic#rhhs
       h3 Richmond Hill High School
       table
         thead
         tbody
            tr
               th Graduated
               td 2013
            tr
               th Activities
               td President of Computer Science Club, DECA, Math Club, Chess Club
            tr
               th Contests
               td 
                 table
                    thead
                      tbody
                        tr 
                          th Cayley Math Contest (2010)
                          td Top 7th Nationally
                        tr
                          th ECOO (2011)
                          td 10th Plae Finalist
                        tr
                          th CCC Senior Stage 2 (2012)
                          td Bronze Finalist
                        tr
                          th CCC Senior Stage 2 (2013)
                          td Bronze Finalist
                        tr
                          th USACO (2013)
                          td Gold
  .section-holder
    .section-with-pic#uwater
       h3 University of Waterloo
       table
         thead
         tbody
            tr
               th Graduating
               td 2018
            tr 
               th Degree
               td Bachelor of Computer Science
            tr
               th Activities
               td Computer Science Club, Chess Club, Poker Studies Club, Rock Climbing Club, Entrepreneurship Society
 .tabholder#work
  h2 WORK EXPERIENCE
  .section-holder
    .section-with-pic#crowdmark
      h3 Crowdmark
      table
        thead
        tbody
          tr 
            th Position
            td Developer
          tr
            th Period
            td March 2013 - August 2013
          tr
            th Location
            td Toronto, Canada
          tr
            th Description
            td Designed an OMR (optical mark reader) algorithm to scan exams<br>Create an extensive automated testing suite
  .section-holder
    .section-with-pic#contextlogic
      h3 ContextLogic
      table
        thead
        tbody
          tr
            td Position
            td Full Stack Developer
          tr
            th Period
            td May 2014 - August 2014
          tr
            th Location
            td San Francisco, United States
          tr
            th Description
            td Improved back-end and front-end stability<br>Created a PHP SDK for developers
 .tabholder#projects
  h2 PROJECTS
  .section-holder
    .section-with-pic#safewords
      h3 Safe Words
      table
        thead
        tbody
          tr
            th Description
            td A Chrome extension that blocks out swear words  
          tr
            th Link
            td <a href="https://chrome.google.com/webstore/detail/safe-words/mncnlkabidgflobdapkgmnlikkiilijj">Safe Words</a>  
  .section-holder
    .section-with-pic
      h3 Business Budget
      table
        thead
        tbody
          tr
            th Description
            td Simple budgeting tool
          tr
            th Link
            td <a href="http://bbudget.herokuapp.com">Business Budget</a>  
  .section-holder
    .section-with-pic
      h3 Expert Opinion
      table
        thead
        tbody
          tr
            th Description
            td See what experts have to say from public votes
          tr
            th Link
            td <a href="http://expertopinion.herokuapp.com">Expert Opinion</a> 
  .section-holder
    .section-with-pic#thecshandbook
      h3 The CS Handbook
      table
        thead
        tbody
          tr
            th Description
            td A handbook of common algorithms and data structures
          tr
            th Link
            td <a href="http://www.thecshandbook.com">The CS Handbook</a> 
 .tabholder#tech
  h2 TECHNICAL SKILLS
  .section-holder
    .section-with-pic#cplusplus
       h3 C++
       table
         thead
         tbody
           tr
             th Experience
             td 5 years
           tr 
             th Description
             td Advanced knowledge of STL, used for contest programming 
                and experienced in software design
           tr
             th Projects
             td blog.ayoungprogrammer.com
  .section-holder
    .section-with-pic#java
       h3 Java
       table
         thead
         tbody
           tr
             th Experience
             td 3 years
           tr 
             th Description
             td Advanced knowledge of data structures. Used for 3 years during high school.  
  .section-holder
    .section-with-pic#objectivec
       h3 Objective-C
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Created an iOS game with Cocos2D
           tr
             th Games
             td <a href='https://itunes.apple.com/ca/app/athletes-arena/id562140574?mt=8'>Athlete's Arena</a>
  .section-holder
    .section-with-pic#as3
       h3 AS3
       table
         thead
         tbody
           tr
             th Experience
             td 2 years
           tr 
             th Description
             td Hobby game development. Familiarized with game programming patterns
           tr
             th Games
             td <a href="http://www.newgrounds.com/portal/view/604791">NeuropolX</a> and <a href="http://www.newgrounds.com/portal/view/622929">Evolute</a>
  .section-holder
    .section-with-pic#js
       h3 JavaScript
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Experienced in web development (eg. this site)
           tr
             th Libraries
             td Experienced with jQuery
  .section-holder
    .section-with-pic#nodejs
       h3 Node.js
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Experienced in web development (eg. this site)
           tr
             th Externals
             td Experienced with Jade Template Engine and Stylus
  .section-holder
    .section-with-pic#ruby
       h3 Ruby
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Used for writing backend for Crowdmark
           tr
             th Projects
             td Exam OMR for Crowdmark  
  .section-holder
    .section-with-pic#redis
       h3 Redis
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Used for backend on this site
           tr
             th Projects
             td ayoungprogrammer.com
  .section-holder
    .section-with-pic#php
       h3 PHP
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Used for backend on thecshandbook.com
           tr
             th Projects
             td thecshandbook.com
  .section-holder
    .section-with-pic#mysql
       h3 MySQL
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Used for backend on thecshandbook.com
           tr
             th Projects
             td <a href="http://www.thecshandbook.com">The CS Handbook</a>
  .section-holder
    .section-with-pic#angularjs
       h3 AngularJS
       table
         thead
         tbody
           tr
             th Experience
             td 1 years
           tr 
             th Description
             td Used for frontend on Business Budget and Expert Opinion
           tr
             th Projects
             td <a href="http://bbudget.herokuapp.com">Business Budget</a> <a href="http://expertopinion.herokuapp.com">Expert Opinion</a>
  .section-holder
    .section-with-pic#python
       h3 Python
       table
         thead
         tbody
           tr
             th Experience
             td 6 months
           tr 
             th Description
             td Used for back-end services of <a href="wish.com">Wish.com</a>
   .section-holder
    .section-with-pic#backbonejs
       h3 Backbone.js
       table
         thead
         tbody
           tr
             th Experience
             td 6 months
           tr 
             th Description
             td Used for front-end services of <a href="wish.com">Wish.com</a>
