extend layout

block content
  h1<style="display:none"> Home of Michael Young</style>
  p
  p.
     <a href="http://blog.ayoungprogrammer.com"> My technical blog </a>
  p.
     Contact info: michaelyoung1995@gmail.com
     
block sidebar
  .widget
    h1 Stats
    p.
      #{serv.curUsers.length} users online
    p.
      #{serv.totalUsers.length} total users