doctype html
html(lang="en")
  head
    title a young programmer
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='https://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(type='text/javascript', src='js/bounceThis.js')
    script(type='text/javascript', src='js/tab-ui.js')
    script.
       $(function() {
         $('.header').bounceThis({
            bounceHeight  : '20px',
            dropDownSpeed : 300,
            delay         : 400
          });
          $('.fade-in').fadeIn(1500,'swing');
       });
       $(document).ready(function(){
         $('#tabs').tabs();
       });
       //$(function(){
       //   $('#tabs').tabs();
       //});
  body
    .header
        h1 <a href="/" STYLE="TEXT-DECORATION: NONE; color : #fff" > a young programmer </a>
        .tabs#tabs
           block tabContent
    .fade-in
      .container
        h1<center><style="display:none"> Home of Michael Young</style></center>
        block content
    .fade-in
      .footer
        p.ltext Running on node with Express, Jade and Stylus
        <div style="clear: both;"></div>
