/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #3333CC
background-color = #faf9f0

body
  font-family 'Georgia'
  background-color background-color
  color #444

th,td 
  padding: 0 30px 0 0
  text-align left
  vertical-align top

a:hover,a:link,a:active{
  text-decoration:none;
}

.header
  top 0px
  margin 0px 0px
  font-family 'Quicksand'
  color #fff
  width 100%
  font-size 25px
  text-align left
  position fixed
  z-index 9999

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  //border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)
  h1
    padding 2px 30px
    font-size 32px
    
  .tabs
    position relative
    font-family 'Quicksand'
    background-color #3366FF
    color #fff
    top 5%
    z-index 9999
    a
      margin-left 0.5em
      color #fff
    a:hover,a:link,a:active
      text-decoration none
      color #fff
    li
      display inline
    p 
      margin 0px 10px
  

.container
  margin-left 5%
  padding 0px 30px
  width calc(100%-50px)
  margin 50px 25px
  overflow hidden
  .tabholder 
    
  p
    text-align center
    position relative
    padding 25px 50px 10px
    line-height: 200%
    font-size 20px
    color #333
    display block
  error1
    padding 1px 1px 1px p1x
    font-family 'Quicksand'
    position relative
    margin-top 20%
    width 100%
    font-size 32px
    display block
  error2
    font-family 'Quicksand'
    position relative
    width 100%
    margin-top 20px
    font-size 18px
    display block
  h1
    font-family 'Quicksand'
    position relative
    margin-bottom 30px
    width 100%
    font-size 48px
    display block
  h2
    padding 10px
    border-radius 10px
    background-color #5190fd
    color #ffffff
    font-family 'Quicksand'
    position relative
    width 100%
    font-size 32px
  h3
    font-family 'Quicksand'
    position relative
    margin-bottom 25px
    width 100%
    font-size 20px
  .section-holder
    position relative
    margin-top 25px
    margin-bottom 25px
    padding 10px 50px 10px
    display block
    .section
      border-radius 15px
      position relative
      padding 10px 10px
      line-height: 200%
      border 1px solid #0
      background-position 20px 20px
      background-repeat no-repeat
      display block
    .section-with-pic
      border-radius 15px
      position relative
      padding 10px 10px 10px 200px
      line-height: 200%
      border 1px solid #0
      background-position 20px 20px
      background-repeat no-repeat
      background-size: 150px auto
    #redis
      background-image url(../images/redis.png)
    #objectivec
      background-image url(../images/objectivec.gif)
    #nodejs
      background-image url(../images/nodejs.png)
    #ruby
      background-image url(../images/ruby.jpeg)
    #js
      background-image url(../images/js.gif)
    #as3
      background-image url(../images/as3.png)
    #java
      background-image url(../images/java.gif)
    #crowdmark
      background-image url(../images/crowdmark.gif)
    #rhhs
      background-image url(../images/rhhs.jpg)
    #uwater
      background-image url(../images/uwater.gif)
    #cplusplus
      background-image url(../images/cplusplus.png)
    #safewords
      background-image url(../images/safewords.png)
    #php
      background-image url(../images/php.png)
    #angularjs
      background-image url(../images/angularjs.png)
    #mysql
      background-image url(../images/mysql.jpeg)
    #thecshandbook
      background-image url(../images/thecshandbook.png)
    #contextlogic
      background-image url(../images/contextlogic.gif)
    #backbonejs
      background-image url(../images/backbonejs.png)
    #python
      background-image url(../images/python.png)
.page-content
  width 100%
  height 100%
  h1
    font-family 'Quicksand'
    font-size 24px
  p
    margin-bottom 30px


    
p
  line-height 1.8
  
.fade-in
    display none

.footer
  border-top-left-radius 10px
  border-top-right-radius 10px
  width 100%
  margin auto auto
  border-top 1px dotted #ccc
  font-size 13px
  bottom 0px
  color #fff
  background-color #3333CC
  position fixed
  .ltext
    float left
    padding-left 25px
  .rtext
    float right
    padding-right 25px
 
 