/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
th,
td {
  padding: 0 30px 0 0;
  text-align: left;
  vertical-align: top;
}
a:hover,
a:link,
a:active {
  text-decoration: none;
}
.header {
  top: 0px;
  margin: 0px 0px;
  font-family: 'Quicksand';
  color: #fff;
  width: 100%;
  font-size: 25px;
  text-align: left;
  position: fixed;
  z-index: 9999;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #33c;
  text-shadow: 0px -1px 0px #24248f;
}
.header h1 {
  padding: 2px 30px;
  font-size: 32px;
}
.header .tabs {
  position: relative;
  font-family: 'Quicksand';
  background-color: #36f;
  color: #fff;
  top: 5%;
  z-index: 9999;
}
.header .tabs a {
  margin-left: 0.5em;
  color: #fff;
}
.header .tabs a:hover,
.header .tabs a:link,
.header .tabs a:active {
  text-decoration: none;
  color: #fff;
}
.header .tabs li {
  display: inline;
}
.header .tabs p {
  margin: 0px 10px;
}
.container {
  margin-left: 5%;
  padding: 0px 30px;
  width: calc(100% -50px);
  margin: 50px 25px;
  overflow: hidden;
}
.container .tabholder,
.container p {
  text-align: center;
  position: relative;
  padding: 25px 50px 10px;
  line-height: 200%;
  font-size: 20px;
  color: #333;
  display: block;
}
.container error1 {
  padding: 1px 1px 1px p1x;
  font-family: 'Quicksand';
  position: relative;
  margin-top: 20%;
  width: 100%;
  font-size: 32px;
  display: block;
}
.container error2 {
  font-family: 'Quicksand';
  position: relative;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  display: block;
}
.container h1 {
  font-family: 'Quicksand';
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  font-size: 48px;
  display: block;
}
.container h2 {
  padding: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #5190fd;
  color: #fff;
  font-family: 'Quicksand';
  position: relative;
  width: 100%;
  font-size: 32px;
}
.container h3 {
  font-family: 'Quicksand';
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  font-size: 20px;
}
.container .section-holder {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 50px 10px;
  display: block;
}
.container .section-holder .section {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  padding: 10px 10px;
  line-height: 200%;
  border: 1px solid #000;
  background-position: 20px 20px;
  background-repeat: no-repeat;
  display: block;
}
.container .section-holder .section-with-pic {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  padding: 10px 10px 10px 200px;
  line-height: 200%;
  border: 1px solid #000;
  background-position: 20px 20px;
  background-repeat: no-repeat;
  -webkit-background-size: 150px auto;
  -moz-background-size: 150px auto;
  background-size: 150px auto;
  padding-bottom: 30px;
}
.container .section-holder #redis {
  background-image: url("../images/redis.png");
}
.container .section-holder #objectivec {
  background-image: url("../images/objectivec.gif");
}
.container .section-holder #nodejs {
  background-image: url("../images/nodejs.png");
}
.container .section-holder #ruby {
  background-image: url("../images/ruby.jpeg");
}
.container .section-holder #js {
  background-image: url("../images/js.gif");
}
.container .section-holder #as3 {
  background-image: url("../images/as3.png");
}
.container .section-holder #java {
  background-image: url("../images/java.gif");
}
.container .section-holder #crowdmark {
  background-image: url("../images/crowdmark.gif");
}
.container .section-holder #rhhs {
  background-image: url("../images/rhhs.jpg");
}
.container .section-holder #uwater {
  background-image: url("../images/uwater.gif");
}
.container .section-holder #cplusplus {
  background-image: url("../images/cplusplus.png");
}
.container .section-holder #safewords {
  background-image: url("../images/safewords.png");
}
.container .section-holder #php {
  background-image: url("../images/php.png");
}
.container .section-holder #angularjs {
  background-image: url("../images/angularjs.png");
}
.container .section-holder #mysql {
  background-image: url("../images/mysql.png");
}
.container .section-holder #thecshandbook {
  background-image: url("../images/thecshandbook.png");
}
.container .section-holder #contextlogic {
  background-image: url("../images/contextlogic.gif");
}
.container .section-holder #backbonejs {
  background-image: url("../images/backbonejs.png");
}
.container .section-holder #python {
  background-image: url("../images/python.png");
}
.container .section-holder #square {
  background-image: url("../images/square.png");
}
.container .section-holder #linkedin {
  background-image: url("../images/linkedin.png");
}
.page-content {
  width: 100%;
  height: 100%;
}
.page-content h1 {
  font-family: 'Quicksand';
  font-size: 24px;
}
.page-content p {
  margin-bottom: 30px;
}
p {
  line-height: 1.8;
}
.fade-in {
  display: none;
}
.footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  margin: auto auto;
  border-top: 1px dotted #ccc;
  font-size: 13px;
  bottom: 0px;
  color: #fff;
  background-color: #33c;
  position: fixed;
}
.footer .ltext {
  float: left;
  padding-left: 25px;
}
.footer .rtext {
  float: right;
  padding-right: 25px;
}
